version: "3.8"

services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend