version: "3.8"

services:
  backend:
    build: 
      context: ./server 
    ports:
      - "5001:5000"
    volumes:
      - //./pipe/docker_engine://./pipe/docker_engine

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend